<footer class="Footer">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", alt: "ロゴ", class: "Footer__logo" %>
    <% end %>
    <p class="Footer__copyright">
      Copyright © Potepan Share 2026 All rights reserved
    </p>
  </div>
</footer>