<nav class="Setting_nav">
  <ul class="Setting_nav_list list-group">
    <li class="Setting_nav_item list-group-item">
      <%= link_to "アカウント", account_users_path %>
    </li>
    <li class="Setting_nav_item list-group-item">
      <%= link_to "プロフィール", profile_users_path %>
    </li>
  </ul>
</nav>