@charset "UTF-8";
/* ======================================
   Reset 
====================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

/* ======================================
   Base style
====================================== */
body {
  line-height: 1.6; /* 行間設定 */
  color: black;
  font-family:
    "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
a {
  text-decoration: none;
  color: #0071c1;
}
img {
  /* max-width: 100%; */
  height: auto;
  vertical-align: bottom;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
}
.container,
.container-fluid {
  max-width: 1440px;
  padding: 0 32px;
}
.container-fluid {
  margin: 0;
}

@media screen and (max-width: 600px) {
  .container,
  .container-fluid {
    padding: 0 16px;
  }
}

h2 {
  margin-bottom: 24px;
}

h2,
h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 39px;
}

@media screen and (max-width: 960px) {
  h2,
  h3 {
    font-size: 25px;
    line-height: 32px;
  }
}

@media screen and (max-width: 600px) {
  h2,
  h3 {
    font-size: 21px;
    line-height: 28px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

label {
  color: #6a6a6a;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

input,
textarea {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

input:focus,
textarea:focus {
  border-color: #e0e0e0 !important;
  box-shadow: none !important;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #8b98a8 !important;
  font-size: 14px;
  line-height: 18px;
}

input {
  height: 45px;
}

input::-webkit-inner-spin-button {
  display: none;
}

textarea {
  height: 124px;
  padding: 12px !important;
}
/* ======================================
  flash
====================================== */
.toast-flash {
  color: white;
  position: fixed;
  bottom: 25px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  animation: slideInUp 0.5s ease-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.toast-flash.alert-notice {
  background-color: #333;
}
.toast-flash.alert-alert {
  background-color: #ff4949;
}
@keyframes slideInUp {
  from {
    transform: translateX(-50%) translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
/* ======================================
  Avatar
====================================== */
.Avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
/* ======================================
  Header
====================================== */
.Navbar {
  background-color: #1c1d3b;
  height: 80px;
}
@media screen and (max-width: 600px) {
  .Navbar {
    height: 66px;
  }
}
.Navbar__logo {
  width: 221px;
}
@media screen and (max-width: 600px) {
  .Navbar__logo {
    width: 109px;
  }
}

/* .NavDropdown {
  display: flex;
} */
.Navbar__container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.Navbar__menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Navbar__dropdown-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  color: #fff;
}

.Navbar__avatar {
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
  margin-right: 8px;
}

.Navbar__username {
  font-size: 20px;
  line-height: 24px;
  margin-right: 10px;
}

/* ======================================
  Hero
====================================== */
.Hero {
  background-image: url("hero.png");
  height: 850px;
  padding-top: 117px;
  margin-bottom: 150px;
}
.Hero__title {
  color: #fff;
  font-size: 84px;
  font-weight: 500;
  line-height: 101px;
  margin-bottom: 48px;
  text-align: center;
  word-break: keep-all;
}
.HeroSearch {
  background: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  padding: 32px;
  width: 704px;
}
.HeroSearch__form {
  width: 100%;
  padding: 28px;
  margin-bottom: 18px;
}
.HeroSearch__btn {
  width: 100%;
  background-color: #ff7757;
  color: #fff;
  height: 58px;
}
/* ======================================
  RecommendArea
====================================== */
.RecommendArea {
  margin-bottom: 80px;
}
.RecommendArea__title {
  border-bottom: 3px solid #ff7757;
  font-size: 44px;
  line-height: 66px;
  margin-bottom: 100px;
  padding-bottom: 15px;
  width: fit-content;
}
.RecommendArea__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* PC: 4列 */
  gap: 1.7rem;
}
@media screen and (max-width: 1024px) {
  .RecommendArea__cards {
    grid-template-columns: repeat(3, 1fr); /* タブレット横: 3列 */
  }
}
@media screen and (max-width: 768px) {
  .RecommendArea__cards {
    grid-template-columns: repeat(2, 1fr); /* タブレット縦: 2列 */
  }
}
@media screen and (max-width: 480px) {
  .RecommendArea__cards {
    grid-template-columns: repeat(1, 1fr); /* スマホ: 1列 */
  }
}
.RecommendArea__card {
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  aspect-ratio: 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  color: white;
  text-decoration: none;
}
.RecommendArea__name {
  font-size: 30px;
  font-weight: 500;
}
.RecommendArea__en {
  font-size: 0.9rem;
}
/* ======================================
  Footer
====================================== */
.Footer {
  background-color: #1c1d3b;
  height: 465px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .Footer {
    height: 385px;
  }
}

.Footer__logo {
  margin-bottom: 16px;
  width: 294px;
}

@media screen and (max-width: 600px) {
  .Footer__logo {
    width: 199px;
  }
}

.Footer__copyright {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 0;
}
